body{
    margin: 0;
}


#viewport{
    text-align: center;
    overflow: auto;
}

.menu-item{
    cursor: pointer;
    fill: white;
    stroke: black;
    stroke-width: 4;
}

.menu-text{
    pointer-events: none;
    fill: black;
    font-family: roboto, courier, sans-serif;
    font-size: 2em;
}